### Java / Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.vscode/
*.swp
*.swo
*~
nbproject/

### OS ###
.DS_Store
Thumbs.db

### Application ###
*.log
compile_log.txt
data/
*.mv.db
*.trace.db

### Environment ###
.env
